<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigknow.system.mapper.UserRoleLinkMapper">
    <resultMap id="userRoleLinkMap" type="userRoleLink">
        <id column="id" property="id"/>
        <result column="userId" property="userId"/>
        <result column="roleId" property="roleId"/>
    </resultMap>
    <!--默认方法-->
    <insert id="insert" parameterType="userRoleLink">
        INSERT INTO `t_user_role`
        (`id`,
        `userId`,
        `roleId`)
        VALUES
        (#{id},#{userId},#{roleId});
    </insert>

    <!--业务扩展的方法-->
    <select id="selectRolesByUserId" parameterType="String" resultMap="com.bigknow.system.mapper.RoleMapper.roleMap">
        select r.* from t_role r,t_user_role t where t.roleId = r.id and t.userId = #{id}
    </select>
    <select id="SelectUsersCountByRoleId" parameterType="String" resultType="Integer">
        select count(1) from t_user_role where roleId = #{id}
    </select>
    <delete id="deleteByUserId" parameterType="String">
        DELETE FROM t_user_role
        WHERE userId = #{id}
    </delete>
    <delete id="deleteByRoleId" parameterType="String">
        delete from t_user_role
        where roleId = #{id}
    </delete>
</mapper>