.modal-style{
    width:700px;
    max-height: 600px;
    margin-right: auto;
}

.modal-header-style{
    background-color: #438eb9;
    color: #f6fcff;
    /*font-size: large;*/
   /* font-weight: bold;*/
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    padding: 10px 15px;
}

.modal-header-font{
    text-decoration:none;
    float: left;
    color: white;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.modal-header-btn-link{
    text-decoration:none;
    float: right;
    color: white;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.modal-header-btn-link:hover {
    text-decoration:none;
    float: right;
    color: #00acec !important;
    background-color: white;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.modal-body-field-style{
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
}

.modal-body-field-div-style{
    background-color: #ffffff;
}

.modal-body-field-div-style2{
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.6666%
    }

    .col-sm-10 {
        width: 83.3333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.6666%
    }

    .col-sm-7 {
        width: 58.3333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.6666%
    }

    .col-sm-4 {
        width: 33.3333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.6666%
    }

    .col-sm-1 {
        width: 8.3333%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-pull-11 {
        right: 91.6666%
    }

    .col-sm-pull-10 {
        right: 83.3333%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-8 {
        right: 66.6666%
    }

    .col-sm-pull-7 {
        right: 58.3333%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-5 {
        right: 41.6666%
    }

    .col-sm-pull-4 {
        right: 33.3333%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-2 {
        right: 16.6666%
    }

    .col-sm-pull-1 {
        right: 8.3333%
    }

    .col-sm-pull-0 {
        right: 0
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-push-11 {
        left: 91.6666%
    }

    .col-sm-push-10 {
        left: 83.3333%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-8 {
        left: 66.6666%
    }

    .col-sm-push-7 {
        left: 58.3333%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-5 {
        left: 41.6666%
    }

    .col-sm-push-4 {
        left: 33.3333%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-2 {
        left: 16.6666%
    }

    .col-sm-push-1 {
        left: 8.3333%
    }

    .col-sm-push-0 {
        left: 0
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }

    .col-sm-offset-11 {
        margin-left: 91.6666%
    }

    .col-sm-offset-10 {
        margin-left: 83.3333%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-8 {
        margin-left: 66.6666%
    }

    .col-sm-offset-7 {
        margin-left: 58.3333%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-5 {
        margin-left: 41.6666%
    }

    .col-sm-offset-4 {
        margin-left: 33.3333%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-2 {
        margin-left: 16.6666%
    }

    .col-sm-offset-1 {
        margin-left: 8.3333%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }

    .tree{
        height: 400px;
    }
}
body{
    margin: 0;
    font-size: 12px;
    line-height: 100%;
    font-family: Arial, sans-serif;
}


